@import 'nib'

a, a:link
	cursor pointer

body
	padding-top 60px
	background-color rgb(174, 26, 14)

	section.content
		background-color white
		padding 10px 40px 20px 40px
		margin-bottom 10px
		border-radius 5px

table
	tfoot, tbody
		th
			border-top 1px solid #DDD

.shortDate
	font-family "Lucida Console", Monaco, monospace