<div id="orgs" class="textwidget">
  <h3 class="widget-title">Organizations</h3>
  <a href="http://www.norcalfamilydogrescue.org/" target="_blank">
    <img alt="Northern California Family Dog Rescue" src="http://s3.amazonaws.com/imagesroot.rescuegroups.org/webpages/s4516nd5c3fgs3q7.png">
  </a>
  <a href="http://www.sfuwh.org" target="_blank">
    <img alt="San Francisco Underwater Hockey" src="http://www.sfuwh.org/_/rsrc/1264656897299/config/app/images/logo-sfuwh-simple-nowater-med.png">
  </a>
</div>
<div class="linkwidget">
  <h3 class="widget-title">
    Recommended Books
  </h3>
  <dl>
    <dt>
      <a href="http://www.amazon.com/gp/product/098478280X/ref=as_li_tf_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=098478280X&linkCode=as2&tag=aplfopoex-20">Cracking the Coding Interview</a>
    </dt>
    <dd>
      Fun read even if you're not interviewing. Tons of great problems to work through.
    </dd>
    <dt>
      <a href="http://www.amazon.com/gp/product/0321125215/ref=as_li_ss_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=0321125215&linkCode=as2&tag=aplfopoex-20">Domain-Driven Design: Tackling Complexity in the Heart of Software</a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=aplfopoex-20&l=as2&o=1&a=0321125215" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
    </dt>
    <dd>
      "This book belongs on the shelf of every thoughtful software developer." --Kent Beck
    </dd>
    <dt>
      <a href="http://www.amazon.com/gp/product/0201485672/ref=as_li_ss_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=0201485672&linkCode=as2&tag=aplfopoex-20">Refactoring: Improving the Design of Existing Code</a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=aplfopoex-20&l=as2&o=1&a=0201485672" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
    </dt>
    <dd>
      Anyone working on legacy systems should read this book. Or anyone who suspects the system they're working on is destined for that fate.
    </dd>
    <dt>
      <a href="https://www.amazon.com/gp/product/0134685997/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=0134685997&linkCode=as2&tag=aplfopoex-20&linkId=9ad37f227bfc4eb9e01c660c5477cd5f">Effective Java</a>
    </dt><dd>
      The Definitive Guide to Java Best Practices.
    </dd>
  </dl>
</div>
<div class="linkwidget">
  <h3 class="widget-title">
    Tools
  </h3>
  <dl>
      <dt>
          <a href="http://gitimmersion.com" title="Hands on walk through of Git." target="_blank">Git Immersion</a>
      </dt>
      <dd>
          Hands on walk through of Git.
      </dd>
      <dt>
          <a href="http://ejohn.org/apps/learn" title="Learn Advanced Javascript" target="_blank">Learn Advanced Javascript</a>
      </dt>
      <dd>
          An interactive site where you can play with JavaScript. Simple and elegant.
      </dd>
      <dt>
          <a href="http://try.mongodb.org/" title="Learn MongoDB." target="_blank">Learn MongoDB</a>
      </dt>
      <dd>
          Interactive with MongoDB like it’s on your own machine (if you machine is a WANG green screen). Great way to learn 2% of MongoDB.
      </dd>
      <dt>
          <a href="http://learnyouahaskell.com/starting-out" title="Learn how to program functionally. With Haskell." target="_blank">Learn You a Haskell</a>
      </dt>
      <dd>
          Learn how to program functionally. With Haskell.
      </dd>
      <dt>
          <a href="http://nodeschool.io/" title="Node School" target="_blank">Node School</a>
      </dt>
      <dd>
          What does this site not cover? Learn all about Node and Git, then learn about Express, LevelDB, Promises, ...
      </dd>
      <dt>
          <a href="http://tryruby.org/levels/1/challenges/0" title "Try Ruby" target="_blank">Try Ruby</a>
      </dt>
      <dd>
          Learn the basics of Ruby. Not a Rails tutorial.
      </dd>
      <dt>
          <a href="https://github.com/duereg/" rel="me" title="My github repo" target="_blank">My Github Repository</a>
      </dt>
      <dd>
          Where I store my public coding projects. Check me out!
      </dd>
  </dl>
</div>
<div class="linkwidget">
  <h3 class="widget-title">
    Subscribe
  </h3>
  <dl>
      <dt>
          <a href="/atom.xml" title="Atom Feed">Atom Feed</a>
      </dt>
  </dl>
</div>
<div class="textwidget">
  <iframe src="http://githubbadge.appspot.com/duereg" style="border: 0;height: 120px;width: 200px;overflow: hidden;" frameBorder="0"></iframe>
</div>
<div class="textwidget">
  <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_GB" target="_blank">
    <img alt="Creative Commons Licence" style="border-width:0;" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png">
  </a>
  <br />
  <span>A Place For Poor Examples</span> is licensed under a
  <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_GB" target="_blank">
    Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License
  </a>.
</div>
